:root{
    --color-background--: hsl(30, 38%, 92%);
    --color-primary-items--: hsl(158, 36%, 37%);
    

    --neutral-color1--: hsl(212, 21%, 14%);
    --neutral-color2--: hsl(228, 12%, 48%);

    --montserrat-font--: 'Montserrat';
    --fraunces-font--: 'Fraunces'
}